
@import "../utils/variables";

.header__logo {
    margin: auto;
    margin-top: 15px;
    width: 162px;
    font-family: Shrikhand;
    font-size: 30px;
    font-style: italic;
    height: 44px;
    color: $heart-color;
    padding-bottom: 10px;
}