//variable
$background-color:#f6f6f6;
$main-heart-backgroundColor: white;
$heart-color:#101010;
$main-color: #9356DC;
$secondary-color: #FF79DA;


.main__heart {
    border: none;
    margin: 0 20px;

    &--style {
        text-align: end;
    }

    &--paddingHome {
        padding: 23px 25px 33px 0; 
        }
}

.coeurAnime {
    font-weight: 500;
    position: relative;
    opacity: 0;

    &:hover,
    &:active {
        opacity: 1;
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: 900;
        color: transparent;
        background-image: linear-gradient(193.33deg, $main-color -11.44%, $secondary-color 123.93%);
    }

}

.fa-heart {
    font-weight: 500;
    font-size: 22px;
    position: absolute;
    transition-property: color, font-weight;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    color: $heart-color;
}