//variable
$background-color:#f6f6f6;

.main-container {
    text-align: center;
    line-height: 0;
    background-color: $background-color;

    @media (min-width:1024px) {
        width:min(2000px ,100%);
        margin-left: auto;
        margin-right: auto;
    }
}