//variable
$background-color:#f6f6f6;
$main-heart-backgroundColor: white;


.main__heart {
    border: none;
    background: $main-heart-backgroundColor;
    margin-left: 10px;
    padding: 30px 20px 20px 20px;

    &--styles {
    width: 22px;
    height: 21px;
    text-align: end;
    }
}