//variable
$footer-color:#353535;
$form-color: #eaeaea;

//mixin
@mixin flexAICenter {
    display: flex;
    align-items: center;
}

input {
    background-color: $form-color;
    border: none;
    appearance: none;
}

.header__text {
    @include flexAICenter;
    justify-content: center;
    color: $footer-color;
    line-height: 18.75px;
    flex-direction: row;
    margin-top: 15px;
    background-color: $form-color;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 50px;
}

.fa-location-dot {
    padding: 0 15px;
    color: $footer-color;
}