$footer-color:#353535;
$main-color: #9356DC;
$background-color:#f6f6f6;

@mixin flexAICenter {
    display: flex;
    align-items: center;
}

@mixin lineHeightFSizeFWeight {
    line-height: 18.75px;
    font-size: 16px;
    font-weight: 500;
}

.fonctionment__section--backgrounColor {
    background-color: white;
    padding-top: 35px;
    padding-bottom: 40px;
}

.fa-list-ul {
    color: $footer-color;
}

.fa-store {
    color: $main-color;
}

.li__content {
    @include flexAICenter;
    background-color: $background-color;
    box-shadow: 0px 4px 15px 0px #00000026;
    border-radius: 20px;
    height: 72.38px;
    margin-top: 25px;

    &--styles {
        @include lineHeightFSizeFWeight;
    }

    &__circle {
        border-radius: 25px;
        height: 24px;
        width: 24px;
        background-color: $main-color;
        color: white;
        font-weight: 500;
        padding: 8px;
        display: grid;
        place-items: center;
    }
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
    padding: 0 25px;
}