$background-color:#f6f6f6;
$footer-color:#353535;

.presentation {
    background-color: $background-color;
    padding: 40px 0 57px 0;

    &__p {
        color: $footer-color;
        font-size: 18px;
        font-weight: 300;
        line-height: 21.09px;
        text-align: center;
        height: 46px;
        padding-left: 8px;
        padding-top: 20px;
        margin: auto;
    }
}