
@import "../utils/variables";
@import "../utils/mixins";

.loader {
    height: $loader-size;
    width: $loader-size;
    @include flexAICenter;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $loader-color;
    color: $main-color;
    animation-name: loader;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    pointer-events: none
}

.letter {
    font-size: 40px;
    letter-spacing: 10px;
    border-bottom: 4px solid $tertiary-color;
    background-color: $loader-color;

    @media (min-width: 767px) {
        font-size: 80px;
        letter-spacing: 20px;
    }
}

@keyframes loader {
    0% {
        color: $main-color;
        text-shadow: 0 0 10px $main-color;
    }
    35% {
        color: $secondary-color;
    }

    50% {
        color: $tertiary-color;
        text-shadow: none;
    }

    100% {
        color: $tertiary-color;
        text-shadow: 0 0 10px $main-color;
        opacity: 0;
    }
}