


.restaurant__section--padding {
    padding: 40px 20px 65px 20px;

    @media (min-width: 767px) {
        padding: 30px 0 0 0;

        @media (min-width: 1024px) {
            width: min(1100px, 100%);
            margin: auto;
            padding-top: 30px;
        }
    }
}