
$loader-color: rgba(137, 200, 250, 1);
$loader-size: 100%;
$logo-color: #FFFFFF;
$background-color:#f6f6f6;
$main-heart-backgroundColor: white;
$heart-color:#101010;
$main-color: #9356DC;
$lighten-main-color: lighten(#9356DC, 5%);
$secondary-color: #FF79DA;
$lighten-secondary-color:  lighten(#FF79DA, 5%);
$tertiary-color: #99E2D0;
$tag-color: #008766;
$form-color: #eaeaea;
$footer-color:#353535;
$radius: 20px;