//variables
$main-color: #9356DC;
$secondary-color:#FF79DA;
$tertiary-color: #99E2D0;
$footer-color:#353535;
$background-color:#f6f6f6;
$heart-color:#101010;
$new-color: #008766;
$logo-color: #FFFFFF;


* {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    text-align: center;
    width: 100%;
    min-width: 345px;
    max-width: 767px;
    box-sizing: border-box;
}

.header__img {
    display: flex;
    margin: auto;
    margin-top: 15px;
    width: 162px;
}

.header__p {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    color: $footer-color;
    line-height: 18.75px;

    &--box {
    box-shadow: 0px 4px 4px 0px #00000040;
    }
}

.fa-location-dot {
    padding: 0 15px;
}

.presentation {
    background-color: $background-color;
    padding: 40px 0 57px 0;

    &__p--styles {
    font-family: "Roboto, sans sérif";
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
    color: $footer-color;
    height: 46px;
    padding-left: 8px;
    margin: auto;
    }
}

.fa-location-dot,
.fa-list-ul {
    color: $footer-color;
}

.fa-store {
    color: $main-color;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    width: 275px;
    height: 68px;
    margin: auto;
}

.titleH2--styles {
    text-align: left;
    margin-left: 20px;
}

.btn {
/* Button Gradient */
    background: linear-gradient(350deg, #9356DC -5.2%, #FF79DA 110.74%);
/* Shadow/Button */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 0 18px;
    color: white;
    border: none;
    margin-top: 30px;
}

.li__content {
    display: flex;
    align-items: center;
    text-align: left;

    &--styles {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    }

    &--circle {
        border-radius: 25px;
        height: 24px;
        width: 24px;
        background-color: $main-color;
        color: white;
        font-weight: 500;
        padding: 8px;
        display: grid;
        place-items: center;
    }
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
    padding: 0 25px;
}

a {
    color: inherit;
    text-decoration: none;
}

.restaurantCard {
    box-shadow: 0px 4px 15px 0px #0000001A;
    margin-bottom: 20px;
}

.restaurantCard__top {
    position: relative;
}

.restaurantCard__image {
    width: 100%;
    height: 195px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.restaurantCard__tag {
    position: absolute;
    top: 0;
    right: 7px;
    color: $new-color;
    background-color: $tertiary-color;
    padding: 5px 10px;
    z-index: 1;
    margin: 15px;
}

.restaurantCard__bottom {
    text-align: left;
    padding-left: 15px;

    &--styles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 17px;
        line-height: 20.5px;
        text-align: left;
        padding-left: 13px;
    }
}

.restaurantCard__title {
    font-weight: 700;
}

.restaurantCard__place {
    font-weight: 300;
}

.fa-heart {
    width: 22px;
    height: 21px;
    text-align: end;
}

.footer__logo {
    font-family: Shrikhand;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26.24px;
    text-align: left;
    width: 137.58px;
    height: 27px;
    color: $logo-color;
    padding-top: 20px;
}

.foot {
    background-color: $footer-color;
    color: #FFFFFF;
    padding-left: 25px;

    &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    
    &--column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
  }
}