//use
@use "../test/global/aLinks";
@use "../test/global/btn";
@use "../test/global/footer";
@use "../test/global/headerLogo";
@use "../test/global/main-container";
@use "../test/global/main-heart";
@use "../test/global/titles";

@use "../test/home/fonctionnement";
@use "../test/home/hearder-p";
@use "../test/home/presentation";
@use "../test/home/restaurantCard";
@use "../test/home/restaurantSection-padding";

@use "../test/menus/header-arrow";
@use "../test/menus/menus-main";
@use "../test/menus/menus-radius";
@use "../test/menus/menusCard";
@use "../test/menus/menusSections-padding";

* {
    font-family: "Roboto";
    box-sizing: border-box;
}

body {
    margin: 0;
}