a {
  color: inherit;
  text-decoration: none;
}

.btn {
  background: linear-gradient(350deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 0 18px;
  color: white;
  border: none;
  margin-top: 30px;
}
.btn:hover {
  background: linear-gradient(350deg, #a16be0 -5.2%, #ff93e1 110.74%);
}
@media (min-width: 767px) {
  .btn {
    margin-top: 20px;
  }
}
.btn--styles {
  margin-bottom: 40px;
}

.footer {
  color: #FFFFFF;
  padding-bottom: 20px;
  background-color: #353535;
  padding-left: 25px;
}
.footer__link {
  line-height: 18.75px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 7px;
}
.footer__link--column {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer__link--column {
    flex-direction: row;
    gap: 10px;
  }
}
@media (min-width: 1024px) {
  .footer--row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    justify-content: flex-end;
    padding: 50px 50px 0 300px;
  }
}

.footer__logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26.24px;
  width: 137.58px;
  height: 27px;
  padding-top: 20px;
  margin: 0;
  text-align: left;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .footer__logo {
    display: none;
  }
}
@media (max-width: 1023px) {
  .footer__logo--right {
    display: none;
  }
}
@media (min-width: 1024px) {
  .footer__logo--right {
    font-family: Shrikhand;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26.24px;
    width: 137.58px;
    height: 27px;
    padding-top: 20px;
    margin: 0;
    padding: 20px 0 52px 30px;
    display: flex;
    justify-content: center;
  }
}

.header__logo {
  margin: auto;
  margin-top: 15px;
  width: 162px;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: italic;
  height: 44px;
  color: #101010;
  padding-bottom: 10px;
}

.main-container {
  text-align: center;
  line-height: 0;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .main-container {
    width: min(2000px, 100%);
    margin-left: auto;
    margin-right: auto;
  }
}

.main__heart {
  border: none;
  margin: 0 20px;
}
.main__heart--style {
  text-align: end;
}

.coeurAnime {
  font-weight: 500;
  position: relative;
  opacity: 0;
  /*animation-name: heartAnimation;
  animation-duration: 0ms;
  animation-timing-function: ease-in-out;*/
  /*transition-property: opacity, color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;*/
  /*&:not(:hover):not(:active) {
          opacity: 0;
      }
      font-weight: 500;
      animation-name: heartAnimation;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
  }

  @keyframes heartAnimation {
      0% {
        font-weight: medium;
        opacity: 0.5;
      }
      50% {
          font-weight: 700;
          opacity: 0.75;
      }
      100% {
        font-weight: bold;
        opacity: 1;
        color: transparent;
        background-image: linear-gradient(193.33deg, $main-color -11.44%, $secondary-color 123.93%);
      }
    }*/
}
.coeurAnime:hover, .coeurAnime:active {
  opacity: 1;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.fa-heart {
  font-weight: 500;
  font-size: 22px;
  position: absolute;
  transition-property: color, font-weight;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  color: #101010;
}

.h1Home {
  font-size: 28px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-weight: 700;
  line-height: 28px;
  width: 275px;
  height: 68px;
  margin: auto;
}
@media (min-width: 767px) {
  .h1Home {
    width: 645px;
    justify-content: center;
    padding: 0;
  }
}

.titleH2--styles {
  text-align: left;
  padding-bottom: 40px;
}
@media (min-width: 767px) {
  .titleH2--styles {
    padding-left: 60px;
  }
}

.titleH1--styles {
  font-family: Shrikhand;
  text-align: left;
  font-size: 28px;
  padding-right: 17.5px;
  padding-top: 15px;
  line-height: 40.82px;
}

.menusH2--styles {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}

.title__icone--styles {
  display: flex;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fonctionment__section {
  background-color: white;
  padding: 35px 20px 40px 20px;
}
@media (min-width: 767px) {
  .fonctionment__section {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .fonctionment__section--ordi {
    margin: auto;
    width: min(1100px, 100%);
  }
}

.fa-list-ul {
  color: #353535;
}

.fa-store {
  color: #9356DC;
}

.olCenter {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
  margin-bottom: 60px;
}
@media (min-width: 767px) {
  .olCenter {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0;
    gap: 30px;
    grid-template-rows: 1fr 1fr;
    padding: 0 60px;
  }
}
@media (min-width: 767px) and (min-width: 1024px) {
  .olCenter {
    gap: 25px;
    width: min(1100px, 100%);
  }
}

.li__content {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  height: 72.38px;
  margin-top: 25px;
}
.li__content--styles {
  line-height: 18.75px;
  font-size: 16px;
  font-weight: 500;
}
.li__content__circle {
  border-radius: 20px;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: white;
  font-weight: 500;
  padding-top: 12px;
  position: relative;
  left: -15px;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
  padding: 0 25px;
}
@media (min-width: 767px) {
  .fa-mobile-screen-button,
  .fa-list-ul,
  .fa-store {
    padding: 15px;
  }
}

input {
  background-color: #eaeaea;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header__text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  line-height: 18.75px;
  flex-direction: row;
  margin-top: 15px;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  height: 50px;
}

.fa-location-dot {
  padding: 0 15px;
  color: #353535;
}

.loader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: rgb(137, 200, 250);
  animation-name: loader;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.letter {
  font-size: 40px;
  letter-spacing: 10px;
  border-bottom: 4px solid #99E2D0;
}
@media (min-width: 767px) {
  .letter {
    font-size: 80px;
    letter-spacing: 20px;
  }
}

@keyframes loader {
  0% {
    color: #9356DC;
    text-shadow: 0 0 10px #9356DC;
  }
  35% {
    color: #FF79DA;
  }
  50% {
    color: #99E2D0;
    text-shadow: none;
  }
  100% {
    color: #99E2D0;
    text-shadow: 0 0 10px #9356DC;
    opacity: 0;
  }
}
.presentation__section {
  background-color: #f6f6f6;
  padding: 40px 0 57px 0;
  margin: auto;
}
.presentation__section__p {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
  padding-left: 8px;
  line-height: 25px;
  width: 315px;
  margin: auto;
  padding-top: 10px;
}
@media (min-width: 767px) {
  .presentation__section__p {
    padding: 0;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .presentation__section--backgroundColor {
    background-color: #f6f6f6;
  }
}

.restaurantCard {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  margin-bottom: 20px;
  border-radius: 15px;
}
@media (min-width: 767px) {
  .restaurantCard {
    margin-bottom: 30px;
  }
}
@media (min-width: 767px) and (min-width: 1024px) {
  .restaurantCard {
    width: 100%;
  }
}
.restaurantCard__top {
  position: relative;
}
.restaurantCard__image {
  width: 100%;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurantCard__tag {
  position: absolute;
  top: 0;
  right: 7px;
  color: #008766;
  background-color: #99E2D0;
  padding: 15px;
  z-index: 1;
  margin: 15px;
}
.restaurantCard__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding-left: 13px;
  border-radius: 15px;
  padding-bottom: 15px;
}
.restaurantCard__bottom--styles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  line-height: 20.5px;
  text-align: left;
}
.restaurantCard__title {
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.restaurantCard__place {
  font-weight: 300;
  margin: 0;
}
@media (min-width: 767px) {
  .restaurantCard--row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 60px;
    padding: 0 60px;
  }
}

.restaurant__section--padding {
  padding: 40px 20px 65px 20px;
}
@media (min-width: 767px) {
  .restaurant__section--padding {
    padding: 30px 0 0 0;
  }
}
@media (min-width: 767px) and (min-width: 1024px) {
  .restaurant__section--padding {
    width: min(1100px, 100%);
    margin: auto;
    padding-top: 30px;
  }
}

.fa-arrow-left {
  margin: 20px 0 20px 20px;
}

.header__elements {
  display: flex;
  justify-content: space-between;
}

.menuImage {
  margin-bottom: -50px;
  z-index: -1;
  position: relative;
}

.menus__main {
  padding-top: 30px;
  margin: 0 10px;
}
@media (min-width: 1024px) {
  .menus__main {
    width: min(1000px, 100%);
    margin: auto;
  }
}

.main__image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  /*@media (min-width: 700px) {
      display: none;
  }*/
}
.main__image__ordi {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 699.9px) {
  .main__image__ordi {
    display: none;
  }
}

.menus--radius {
  border-radius: 40px 40px 0px 0px;
}

.menusCard--styles {
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  border-radius: 15px;
}

#section__article1 {
  animation: delai 1s ease-in-out;
}

#section__article2 {
  animation: delai 2s ease-in-out;
}

#section__article3 {
  animation: delai 3s ease-in-out;
}

#section__article4 {
  animation: delai 4s ease-in-out;
}

@keyframes delai {
  0% {
    opacity: 0;
    transform: translateY(33%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menusCard__h3--styles {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.menusCard__p--styles {
  font-size: 15px;
  font-weight: 300;
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.menusCard__price--styles {
  display: flex;
  justify-content: space-between;
}

.menusCard__content--styles {
  max-width: 100%;
  line-height: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 50px 0;
  align-items: end;
  transition: all 0.5s ease-in-out;
}
.menusCard__content--styles .menuCard__left {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 100%;
}
.menusCard__content--styles .menuCard__right {
  padding-bottom: 15px;
}
.menusCard__content--styles:hover {
  grid-template-columns: minmax(0, 1fr) 50px 100px;
}

.menuCard__right--check {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #99E2D0;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.fa-circle-check {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  color: #FFFFFF;
  margin: 25px 20px;
}

.menus__sections--padding {
  padding: 20px;
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  margin: 0;
}/*# sourceMappingURL=style.css.map */