.btn {
  background: linear-gradient(350deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 0 18px;
  color: white;
  border: none;
  margin-top: 30px;
}
.btn--styles {
  margin-bottom: 40px;
}

.header__logo {
  margin: auto;
  margin-top: 15px;
  width: 162px;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: italic;
  height: 44px;
  color: #101010;
  padding-bottom: 10px;
}

.main-container {
  text-align: center;
  width: 100%;
  min-width: 345px;
  max-width: 767px;
  background-color: #f6f6f6;
}

.footer {
  color: #FFFFFF;
  padding-bottom: 20px;
  background-color: #353535;
  padding-left: 25px;
}
.footer__link {
  line-height: 18.75px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 7px;
}
.footer__link--column {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26.24px;
  text-align: left;
  width: 137.58px;
  height: 27px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.main__heart {
  border: none;
  background: #f6f6f6;
  margin-left: 10px;
}
.main__heart--styles {
  width: 22px;
  height: 21px;
  text-align: end;
}

a {
  color: inherit;
  text-decoration: none;
}

.h1Home {
  font-size: 28px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-weight: 700;
  line-height: 28px;
  width: 275px;
  height: 68px;
  margin: auto;
}

.header__p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  line-height: 18.75px;
  background-color: #eaeaea;
  flex-direction: row;
  margin-top: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.fa-location-dot {
  padding: 0 15px;
  color: #353535;
}

.olCenter {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0 20px;
  margin-bottom: 60px;
}

.fonctionment__section--backgrounColor {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 70px;
}

.fa-list-ul {
  color: #353535;
}

.fa-store {
  color: #9356DC;
}

.li__content {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  height: 72.38px;
  margin-top: 25px;
}
.li__content--styles {
  line-height: 18.75px;
  font-size: 16px;
  font-weight: 500;
}
.li__content__circle {
  border-radius: 25px;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: white;
  font-weight: 500;
  padding: 8px;
  display: grid;
  place-items: center;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
  padding: 0 25px;
}

.titleH2--styles {
  text-align: left;
  margin-left: 20px;
}

.presentation {
  background-color: #f6f6f6;
  padding: 40px 0 57px 0;
}
.presentation__p {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  text-align: center;
  height: 46px;
  padding-left: 8px;
  padding-top: 20px;
  margin: auto;
}

.restaurantCard {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  margin-bottom: 20px;
}
.restaurantCard__top {
  position: relative;
}
.restaurantCard__image {
  width: 100%;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurantCard__tag {
  position: absolute;
  top: 0;
  right: 7px;
  color: #008766;
  background-color: #99E2D0;
  padding: 5px 10px;
  z-index: 1;
  margin: 15px;
}
.restaurantCard__bottom {
  text-align: left;
  padding-left: 13px;
}
.restaurantCard__bottom--styles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  line-height: 20.5px;
  text-align: left;
}
.restaurantCard__title {
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.restaurantCard__place {
  font-weight: 300;
  margin: 0;
}

.restaurant__section--padding {
  padding-top: 40px;
  padding-bottom: 65px;
}

.fa-arrow-left {
  margin: 20px 0 20px 20px;
}

.header__elements {
  display: flex;
  justify-content: space-between;
}

.menus__main {
  padding-top: 270px;
}

.main__image {
  width: 375px;
  height: 275px;
  position: absolute;
  left: 0;
}

.titleH1--styles {
  font-family: Shrikhand;
  text-align: left;
  font-size: 28px;
  padding-right: 17.5px;
  padding-top: 15px;
}

.menusH2--styles {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}

.title__icone--styles {
  display: flex;
  padding-left: 15px;
  align-items: baseline;
  justify-content: space-between;
}

.menusCard--styles {
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  border-radius: 20px;
}

.menusCard__h3--styles {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.menusCard__p--styles {
  font-size: 15px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.menusCard__price--styles {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.menusCard__content--styles {
  line-height: 20px;
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
}

.menus__sections--paddingBottom {
  padding-bottom: 40px;
}

* {
  font-family: "Roboto";
}/*# sourceMappingURL=style.css.map */